*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    align-items: center;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(Pictures/93190.jpg);
    background-size: cover;
}

form
{
    text-align: center;
    position: relative;
    background: transparent;
    backdrop-filter: blur(5px);
    border: 0.5px solid white;
    border-radius: 20px;
    height: auto;
    width: auto;
    border-radius: 25                                           px;

}
input
{
    display: block;
    width: 350px;
    height: 40px;
    margin: 20px;
    outline: none;
    font-size: 20px;
    background: transparent;
    border: none;
    border-bottom: 1px solid ivory;
    color: white;
}
button
{
    width: 350px;
    height: 40px;
    font-size: 20px;
    background-color: blue;
    border: none;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

form h1
{
margin-top: 20px;
margin-bottom: 20px;
color: white;
}

::placeholder
{
    color: white;
}